{% extends 'base.html.twig' %}

{% block title %}Se conncecter{% endblock %}

{% block body %}
<section class="section">

    <h1 class="h3 mb-3 font-weight-normal titre-section">Se connecter</h1>

    <form method="post" class="formulaire">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <a href="{{path('app_home')}}" class="back-arrow-stack">
            <span class="fa-stack back-arrow-stack">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-arrow-left fa-stack-1x back-arrow"></i>
            </span>
        </a>

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary button button-valider" type="submit">
                Se connecter
        </button>
    </form>
</section>
{% endblock %}
