{% extends 'base.html.twig' %}



{% block title %}S'inscrire{% endblock %}

{% block body %}
    <section class="section register__section">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}


        <h1 class="titre-section">S'inscrire</h1>

        <a href="{{path('app_home')}}" class="back-arrow-stack">
            <span class="fa-stack back-arrow-stack">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-arrow-left fa-stack-1x back-arrow"></i>
            </span>
        </a>



        <form class="formulaire">
            {{ form_start(registrationForm) }}

                {% form_theme registrationForm.email 'forms/fields.twig' %}
                {{ form_row(registrationForm.email) }}

                {% form_theme registrationForm.pseudo 'forms/fields.twig' %}
                {{ form_row(registrationForm.pseudo) }}

                {% form_theme registrationForm.plainPassword 'forms/fields.twig' %}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe '
                }) }}

                {% form_theme registrationForm.agreeTerms 'forms/terms.twig' %}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="button valider-btn">Valider</button>
            {{ form_end(registrationForm) }}
        </form>
    </section>
{% endblock %}

