{% extends 'base.html.twig' %}

{% block title %}Modules de formation{% endblock %}

{% block body %}
    <section class="section container">
        <h1 class="titre-section">Liste des modules de formation</h1>

        <div class="button-nvsession"><a href="{{path('add_module_formation')}}" class="button button-green" >Nouveau module</a></div>

        {% for categorie in categories %}

            <h2 class="titre-soussection">{{categorie}}</h2>
            
            {% for module in modules %}

                {% if module.categorie == categorie %}
                    <span class="liste-modules__module">
                        {{module}}
                        &nbsp&nbsp<a href="{{path('edit_module_formation',{'id':module.id})}}"><i class="fa-solid fa-pen-to-square link"></i></a>
                        &nbsp<a href="{{path('delete_module_formation',{'id':module.id})}}"><i class="fa-solid fa-trash-can link"></i></a><br>
                    </span>
                {% endif %}

            {% endfor %}

        {% endfor %}
    </section>
{% endblock %}
