{% extends 'base.html.twig' %}

{% block title %}Détails du stagiaire{% endblock %}

{% block body %}


    <h1>Détails du stagiaire</h1>

    <p>
        {{stagiaire}} ({{stagiaire.sexe}})<br>
        Né(e) le {{stagiaire.dateNaissance}} à {{stagiaire.ville}}<br>
        {{stagiaire.email}}<br>
        {{stagiaire.telephone}}<br>
        <br>    
    </p>


{% endblock %}