{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}
    <section class="section container">
        {% if edit %}
            <h1 class="titre-section">Éditer une session</h1>
        {% else %}
            <h1 class="titre-section">Ajouter une session</h1>
        {% endif %}

            {{ form_start(formAddSessionFormation, { 'attr' : { 'class': 'formulaire' } }) }}

                {% form_theme formAddSessionFormation 'forms/fields.twig' %}

                {{ form_row(formAddSessionFormation.intitule_session, {'label': 'Intitulé de la session'}) }}
                {# <div class="add-session__dates"> #}
                    {{ form_row(formAddSessionFormation.date_debut, {'label': 'Date de début'}) }}
                    {{ form_row(formAddSessionFormation.date_fin, {'label': 'Date de fin'}) }}
                {# </div> #}
                {{ form_row(formAddSessionFormation.nb_places, {'label': 'Nombre de places disponibles'}) }}


                <div class="two-buttons">
                    <a href="{{path('app_session_formation')}}" class="button button-purple button-valider">Annuler</a>
                    {{ form_widget(formAddSessionFormation.submit, { 'label': 'Valider' }) }}
                </div>

            {{ form_end(formAddSessionFormation) }}
            
    </section>

{% endblock %}