{% extends 'base.html.twig' %}

{% block title %}Sessions de formation{% endblock %}

{% block body %}

    <h1>Sessions de formation</h1>

    {% for session in sessions %}

        <a href="{{path('show_session_formation', {'id':session.id})}}">{{session.intituleSession}}</a><br>
        Du {{session.dateDebut}} au {{session.dateFin}}<br>
        {{session.nbPlaces}} places disponibles<br>
        <br>        

    {% endfor %}

{% endblock %}
