{% extends 'base.html.twig' %}

{% block title %}Sessions de formation{% endblock %}

{% block body %}

    <section class="home__section section">

        <h1>Sessions de formation</h1>

        <a href="{{path('add_session_formation')}}">Ajouter une session</a><br><br>

        <h2>Sessions en cours</h2>

        {% for session in sessionsEnCours %}

            <a href="{{path('show_session_formation', {'id':session.id})}}">{{session.intituleSession}}</a><br>
            Du {{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}}<br>

            {% if session.participants|length != session.nbPlaces %}
                {{session.nbPlaces - session.participants|length}}/{{session.nbPlaces}} places disponibles<br>
            {% else %}
                Session complète !<br>
            {% endif %}

            <a href="{{path('edit_session_formation', {'id':session.id})}}">Éditer</a> / <a href="{{path('delete_session_formation', {'id':session.id})}}">Supprimer</a><br>
            <br>        

        {% endfor %}

        <h2>Sessions à venir</h2>

        {% for session in sessionsAVenir %}

            <a href="{{path('show_session_formation', {'id':session.id})}}">{{session.intituleSession}}</a><br>
            Du {{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}}<br>
            
            {% if session.participants|length != session.nbPlaces %}
                {{session.nbPlaces - session.participants|length}}/{{session.nbPlaces}} places disponibles<br>
            {% else %}
                Session complète !<br>
            {% endif %}

            <a href="{{path('edit_session_formation', {'id':session.id})}}">Éditer</a> / <a href="{{path('delete_session_formation', {'id':session.id})}}">Supprimer</a><br>
            <br>        

        {% endfor %}

        <h2>Sessions passées</h2>

        {% for session in sessionsPassees %}

            <a href="{{path('show_session_formation', {'id':session.id})}}">{{session.intituleSession}}</a><br>
            Du {{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}}<br>
            
            {% if session.participants|length != session.nbPlaces %}
                {{session.nbPlaces - session.participants|length}}/{{session.nbPlaces}} places disponibles<br>
            {% else %}
                Session complète !<br>
            {% endif %}

            <a href="{{path('edit_session_formation', {'id':session.id})}}">Éditer</a> / <a href="{{path('delete_session_formation', {'id':session.id})}}">Supprimer</a><br>
            <br>        

        {% endfor %}
    </section>

{% endblock %}
