{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}


    <h1>{{session.intituleSession}}</h1>
    <h2> Du {{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}}<br></h2>

    {{session.nbPlaces}} places disponibles
    
    <h2>Modules compris dans la session</h2>



    {% if session.programmes | length == 0 %}
        <p>Aucun module pour l'instant</p>
    {% else %}
    
        {% for categorie in categories %}
               
            <h2>{{categorie}}</h2>

            {% for programme in session.programmes %}
                {% if programme.moduleFormation.categorie == categorie %}
                    {{programme.moduleFormation}} : {{programme.nbJours}} j<br>
                {% endif %}
            {% endfor %}

        {% endfor %}


    {% endif %}


    <h2>Liste des participant.e.s à la session</h2>

    {% if session.participants | length == 0 %}
        <p>Aucun participant à cette session</p>
    {% else %}

        {% for participant in session.participants %}
            <a href="{{path('show_stagiaire', {'id':participant.id})}}">{{participant}}</a> 
            <a href="{{path('removefrom_session_formation', {'idsess':session.id , 'idstag':participant.id})}}">[désinscrire]</a><br>
        {% endfor %}

    {% endif %}

    <h2>Ne participent pas à la session</h2>

    {% if nonInscrits | length == 0 %}
        <p>Aucun participant à cette session</p>
    {% else %}

    {% for stagiaire in nonInscrits %}
        <a href="{{path('show_stagiaire', {'id':stagiaire.id})}}">{{stagiaire}}</a> <br>
        {# <a href="{{path('removefrom_session_formation', {'idsess':session.id , 'idstag':participant.id})}}">[désinscrire]</a> #}
    {% endfor %}

{% endif %}


{% endblock %}
