{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}


    <h1>{{session.intituleSession}}</h1>
    <h2> Du {{session.dateDebut}} au {{session.dateFin}}<br></h2>

    {{session.nbPlaces}} places disponibles
    
    <h2>Modules compris dans la session</h2>



    {% if session.programmes | length == 0 %}
        <p>Aucun module pour l'instant</p>
    {% else %}
    
        {% for categorie in categories %}
               
            <h2>{{categorie}}</h2>

            {% for programme in session.programmes %}
                {% if programme.moduleFormation.categorie == categorie %}
                    {{programme.moduleFormation}} : {{programme.nbJours}} j<br>
                {% endif %}
            {% endfor %}

        {% endfor %}


    {% endif %}


    <h2>Liste des participant.e.s à la session</h2>

    {% if session.participants | length == 0 %}
        <p>Aucun participant à cette session</p>
    {% else %}

        {% for participant in session.participants %}
            <a href="{{path('show_stagiaire', {'id':participant.id})}}">{{participant}}</a><br>
        {% endfor %}

    {% endif %}


{% endblock %}
