{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}


    <h1>{{session.intituleSession}}</h1>
    <h2> Du {{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}}<br></h2>

    {% if session.nbPlaces != session.participants|length %}

        {{session.nbPlaces - session.participants|length}}/{{session.nbPlaces}} places disponibles

    {% else %}
        Session complète !
    {% endif %}


    <h2>Modules compris dans la session</h2>



    {% if session.programmes | length == 0 %}
        <p>Aucun module pour l'instant</p>
    {% else %}
    
        {% for categorie in categories %}
               
            <h2>{{categorie}}</h2>

            {% for programme in session.programmes %}
                {% if programme.moduleFormation.categorie == categorie %}
                    {{programme.moduleFormation}} : {{programme.nbJours}} j <a href="{{path('delete_programme', {'idsess':session.id , 'idprog':programme.id})}}">[déprogrammer]</a><br>
                {% endif %}
            {% endfor %}

        {% endfor %}


    {% endif %}

    <h2>Modules non programmés</h2>

    {% if nonProgrammes | length == 0 %}
        <p>Aucun module à programmer</p>
    {% else %}
            {% for module in nonProgrammes %}
                {{module}}
                <form method="POST" action="{{ path('add_programme', {'idsess' : session.id,'idmod' : module.id }) }}">
                    <input type="number" min="1" id="nbJours" name="nbJours"/> jours
                    <button type="submit" name="submit">+</button>
                </form>
                <br>
            {% endfor %}
    {% endif %}

    <h2>Liste des participant.e.s à la session</h2>

    {% if session.participants | length == 0 %}
        <p>Aucun participant à cette session</p>
    {% else %}

        {% for participant in session.participants %}
            <a href="{{path('show_stagiaire', {'id':participant.id})}}">{{participant}}</a> 
            <a href="{{path('removefrom_session_formation', {'idsess':session.id , 'idstag':participant.id})}}">[désinscrire]</a><br>
        {% endfor %}

    {% endif %}

    <h2>Ne participent pas à la session</h2>

    {% if nonInscrits | length == 0 %}
        <p>Aucun participant à cette session</p>
    {% else %}

        {% for stagiaire in nonInscrits %}
            <a href="{{path('show_stagiaire', {'id':stagiaire.id})}}">{{stagiaire}}</a>
            {% if session.participants|length < session.nbPlaces %}
                <a href="{{path('addto_session_formation', {'idsess':session.id , 'idstag':stagiaire.id})}}">[inscrire]</a>
            {% endif %}
            <br>
        {% endfor %}

    {% endif %}


{% endblock %}
