<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                {% if app.user %}
                    <div class="nav__user-btn" id="nav-toggle">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <div class="nav__user-menu" id="nav-user-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="{{path("app_logout")}}">Déconnexion</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %} 
                                <li class="nav__item">
                                    <a href="{{path("admin_users")}}">Panneau d'admin</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                    <h1 class="header__logo">FormaCenter</h1>
                {% if app.user %}
                    <div class="nav__droite">
                        <a href="{{path("app_module_formation")}}">Modules</a>
                        <a href="{{path("app_session_formation")}}">Sessions</a>
                        <a href="{{path("app_stagiaire")}}">Stagiaires</a>
                    </div>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block body %}
            
            {% endblock %}
        </main>
    </body>
</html>
